@CHARSET "UTF-8";

html {
	font-size: 82%;
}

.yaybar ul > li.yay-user-info > a, .yaybar ul > li.yay-user-info > .sp-cancel {
	height: 87.97px;
}

#main {
	width: 1000px;
	height: 750px;
	margin: 0 auto;
	position: relative;
}

#profile {
	width: 450px;
	height: 300px;
	border: 1px solid #cccccc;
	margin-top: 35px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
	padding-left: 30px;
	float: left;
}

#pro_group {
	top: 15%;
	left: 230px;
	position: absolute;
}

.td_cell1 {
  padding-right: 20px;
  padding-bottom: 10px;
}

.td_cell2 {
  padding-bottom: 10px;
}

#phoPath {
	width: 100px;
	height: 100px;
	margin-top: 25px;
	background-position: 0 0;
}

#proUpBtn {
	top: 270px;
	width: 100px;
	height: 40px;
	position: absolute;
	border: 1px solid #cccccc;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
}

#contact {
	width: 450px;
  height: 300px;
  border: 1px solid #dadada;
  margin-top: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

.td_cell3 {
	padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.td_cell4 {
  padding-right: 30px;
  padding-bottom: 10px;
}

.td_cell5 {
	padding-top: 20px;
  padding-bottom: 10px;
}

.td_cell6 {
  padding-bottom: 10px;
}

#contactUpBtn {
	margin-top: 40px;
	width: 100px;
  height: 40px;
	border: 1px solid #cccccc;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
}

#buildinfo {
  width: 920px;
  height: 300px;
  border: 1px solid #cccccc;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

#buildUpBtn {
  margin-top: 160px;
  width: 100px;
  height: 40px;
  border: 1px solid #cccccc;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
}

.membleave {
	clear: both;
	margin-left: 35px; 
}
