@CHARSET "UTF-8";

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}

#header {
  height: 80px;
  border-bottom: 2.5px solid gray;
  position: relative;
}

#logo {
  top: 8px;
  left: 10px;
  position: absolute;
}

#title {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid gray;
  text-align: center;
  position: absolute;
}

#main1 {
  top: 425%;
  left: 10%;
  /* border: 1px solid gray; */
  margin: -50px 0 0 -50px;
  text-align: center;
  position: absolute;
}

#main2 {
	width: 354px;
	top: 380%;
	right: 10%;
	position: absolute;
}

#email {
	width: 100%;
	height: 50px;
}

#password {
	width: 100%;
	height: 50px;
}

#KaKaoBtn {
	margin-right: 10px;
	float: left;
}

#googleBtn {
	float: left;
}

#loginBtn {
	width: 100%;
	height: 50px;
	background: #00aceb;
	color: #fff;
	font-size: 20px;
}

#clogo {
  max-width: 11%;
  width: expression(this.width > 640 ? 640: true);
  height: auto;
}

img {
  max-width: 70%;
  height: auto ;
}

#kakaoLoginBtn {
	max-width: 354px;
}

@font-face{
  font-family:'CODE Bold';
  src: url('../fonts/CODE Bold.otf')
}

@font-face{
  font-family:'Adam';
  src:url('../fonts/Adam.otf')
}

#mp {
  font-family: 'CODE Bold';
  text-align:center;
  font-size: 1000%;
}

#sp {
  font-family: 'Adam';
  font-size: 1000%;
}

ul {
  list-style:none;
  float:left;
  right: 10px;
  top: 30px;
  position: absolute;
}

ul li {  
  float:left;
}

ul li a {
  float:left;  
  color:gray;
  font-size: -80%;
  margin-left: 20px;
  text-align:center;
  text-decoration:none;
}

ul li a:hover, ul li a:focus {
  color:#00aceb;
  text-decoration: none;
}

