<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="objackie.dao.MemberDao">
	<resultMap type="member" id="memberMap">
		<id column="EMAIL" property="email" />
		<result column="PWD" property="password" />
		<result column="GEND" property="gender" />
	</resultMap>

	<select id="selectOneByEmailAndPassword" resultMap="memberMap"
		parameterType="map">
		select EMAIL, NAME, TEL, GEND, BIRTH, AUTH
		from MEMBS
		where EMAIL=#{email} and PWD=#{password}
	</select>

	<insert id="insertMember" parameterType="member">
		insert into MEMBS(EMAIL, NAME, PWD, TEL, GEND, BIRTH, AUTH)
		values(#{email}, #{name}, PWD(#{password}), #{tel}, #{gender}, #{birth}, #{auth})
	</insert>



</mapper>




















